
        .m-page--fluid .m-header {
            background-color: black !important;


        }
        .m-brand--skin-light{
            background-color: black !important;
        }
        @media (min-width: 1025px)
        {
            .m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                margin-left: 2%;
                margin-top: 2%;
                /*margin-bottom: */
            }
            .m-nav__link .m-dropdown__toggle{
                color: #cccccc !important;
            }

        }
        .m-menu__link-text{
            color: #8c8ea4 !important; 
        }
        button[type=submit]{
            background-color: #f4516c;
            border-color: #f4516c;
        }

        button[type=submit]:hover{
            background-color: #f4516c;
            border-color: #f4516c;
        }

        .btn-outline-danger:focus, .btn-outline-danger:hover {
            border-color: #f4516c !important;
            background: #f4516c !important;
            color: #fff !important;
        }
        td,th{text-align: center;}

        /*button i{
            color: #ff5a5e !important;
            background-color: #fff !important;
            border-color: #ff5a5e !important;
        }*/
       
        .m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head.collapsed, .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head.collapsed {
            background-color: #fff !important;
            color: #000;
        }
        .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open {
            
            background-color: #FFF !important;
        }
        .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
           
            background-color: #FFF !important;
        }
        .m-menu__item--active{
            background-color: #fff !important;
        }
        #m_header_topbar i{
            color: #fff;    
        }
        .m-brand__icon .m-brand__toggler .m-brand__toggler--left .m--visible-desktop-inline-block{

            color: #ffffff !important;
        }
        .m-brand__icon .m-brand__toggler .m-brand__toggler--left .m--visible-tablet-and-mobile-inline-block{
            color: #ffffff !important;
        }
        
        .m-brand__tools{
            color: white !important;
            /*background-color: #fff !important;*/
        }
         #m_header_topbar h6{
            color: #fff;
        }
        .m-dropdown__wrapper i{
            color: gray !important;

        }   

        .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text {
            color: #404040 !important;
            font-weight: 500 !important;
        }
        .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
            color: #404040 !important;
        }
        .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after {
            background: #ffffff !important;
        }
        .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after, .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after {
            background: #ffffff !important;
        }
        .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler.m-brand__toggler--active span {
            background: #ffffff !important;
        }
        .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span {
            background: #ffffff !important;
        }
        .m-body .m-content {
            padding: 5px 30px !important;
        }
        @media (max-width: 1200px){
            .m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
                top: -4rem !important;
                position: absolute !important;
                width: 0.36rem !important;
                left: 4rem !important;
                height: 100% !important;
            }
            .m-nav__link .m-dropdown__toggle{
                color: #cccccc !important;
            }
            #m_header_topbar i {
                color: #443d3d;
            }
        }
        /*@media (max-width: 1200px){
            .col-lg-12 .col-lg-6 {
               width: 180px;

            }

        }*/
        @media (max-width: 1200px){
            .m-wizard.m-wizard--2 {
                margin: 5rem 0 3rem 0 !important;   
                padding: 0;
            }

        }
        @media (max-width: 1200px){
            .m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
                top: -4rem !important;
                position: absolute !important;
                width: 0.36rem !important;
                left: 4rem !important;
                height: 100% !important;
            }
            .m-nav__link .m-dropdown__toggle{
                color: #443d3d !important;
            }
            #m_header_topbar i {
                color: #443d3d !important;
            }
            #m_header_topbar h6{
                color: #443d3d !important;
            }
        }


 .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active,.m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #f4516c !important;
    border-bottom: 1px solid #f4516c !important;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs  : hover {
    color: #f4516c !important;
    /*border-bottom: 1px solid #f4516c !important;*/
}

        

/*Error Message Color Css*/

.m-form .form-control-feedback {
    margin-top: 0.2rem !important;
    font-size: .85rem !important;
    color: red !important;
}