/*Menu Listing*/
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text{color: #ef424a !important;}
/*Menu Icon Listing*/
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon{color: #ef424a !important;}
/*Select2 border color*/
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single{border-color: #ef424a !important;}
/*Select2 background & color change of selected item*/
.select2-container--default .select2-results__option[aria-selected="true"]{background: #ef424a !important;color: #fff !important;}
/*On button hover*/
.btn.m-btn--air.btn-default.focus, .btn.m-btn--air.btn-default:focus, .btn.m-btn--air.btn-default:hover:not(:disabled):not(.active), .btn.m-btn--air.btn-secondary.focus, .btn.m-btn--air.btn-secondary:focus, .btn.m-btn--air.btn-secondary:hover:not(:disabled):not(.active){background-color: #ef424a !important;border-color: #ef424a !important;}
/*------------------START : menu collapse button---------------------------------*/
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span{background: #fff !important;}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span{background: #ef424a !important;}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after{background: #ef424a !important;}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after{background: #ef424a !important;}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span{background: #fff !important;}
/*------------------END : menu collapse button---------------------------------*/

.dataTables_wrapper .pagination .page-item.previous>.page-link,
.dataTables_wrapper .pagination .page-item.next>.page-link,
.dataTables_wrapper .pagination .page-item.last>.page-link,
.dataTables_wrapper .pagination .page-item.first>.page-link {
    background: #e68d96 !important
}

.dataTables_wrapper .pagination .page-item.previous>.page-link:hover,
.dataTables_wrapper .pagination .page-item.next>.page-link:hover,
.dataTables_wrapper .pagination .page-item.last>.page-link:hover,
.dataTables_wrapper .pagination .page-item.first>.page-link:hover {
    background: #ef424a !important;
    color: #fff
}

.dataTables_wrapper .pagination .page-item.active>.page-link {
    background: #ef424a !important;
    color: #fff
}

.dataTables_wrapper .pagination .page-item:hover>.page-link {
    background: #ef424a !important;
    color: #fff
}

/*.m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head, .m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head:hover, .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head, .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head:hover*/
/*{*/
    /*background-color: #ef424a !important;*/
    /*color: #fff !important;*/
/*}*/

.m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head, .m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head:hover, .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head, .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head:hover
{
    background-color: #ef424a;
    color: #fff;
}
.m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head.collapsed, .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head.collapsed
{
    color: #000000;
}
.m-portlet .m-portlet__body {color:#212529 !important}

/*-------------------------- Dashboard custom css start -------------------------------------*/

.m-widget24 .m-widget24__item .m-widget24__title {
    font-size: 150%;
}

/*-------------------------- Dashboard custom css end ----------------------------------------*/

.btn-success
{
    background-color: #f4516c;
    border-color: #f4516c;
}

.btn-success:hover
{
    background-color: #f4516c;
    border-color: #f4516c;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show>.btn-success.dropdown-toggle {
    background-color: #f4516c !important;
    border-color: #f4516c !important;
}
